services:
  db:
    image: postgres:16
    container_name: ticketing_db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: ticketing
    ports:
      - "5432:5432"
    volumes:
      - ticketing_pg:/var/lib/postgresql/data

volumes:
  ticketing_pg:
